/* General Styles */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-bottom: 20px;
}

.highlight-heading {
  margin: 1.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
}

.img-nav {
  display: flex;
  height: 400px;
  aspect-ratio: 16/9;
  gap: 1em;
  justify-content: center;
}

.tile {
  height: 100%;
  width: 80px;
  min-width: 80px;
  border-radius: 5em;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out, border-radius 0.4s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: end;
  overflow: hidden;
  position: relative;
}

.tile:hover, .tile.active {
  width: 400px;
  height: 400px;
  border-radius: 3em;
}

.tile p[spine] {
  display: block;
  position: absolute;
  z-index: 10;
  font-size: 24px;
  color: black;
  font-family: 'Montserrat';
  top: 5em;
  transform: rotateZ(-90deg);
  opacity: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  transition: opacity 0.2s ease-in-out, transform 0.4s ease-in-out, font-weight 0.4s;
  width: max-content;
}

.tile:hover p[spine], .tile.active p[spine] {
  opacity: 1;
  font-weight: bold;
}

.tile .img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 1;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
}

.tile:hover .img, .tile.active .img {
  width: 100%;
  height: 100%;
}

.tile .content {
  position: absolute;
  z-index: 10;
  color: black;
  opacity: 0;
  transform: translateY(-50px);
  top: 10px;
  left: 10px;
  width: 95%;
  text-align: left;
  padding: 10px;
  font-family: 'Montserrat';
  transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
  background: none;
}

.tile:hover .content, .tile.active .content {
  opacity: 1;
  transform: translateY(0);
}

.tile .heading {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 15;
  color: white;
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tile:hover .heading, .tile.active .heading {
  opacity: 1;
}

/* Set Images */
.tile:nth-child(1) .img {
  background-image: url('/src/SB photos/Rectangle 55.png');
}
.tile:nth-child(2) .img {
  background-image: url('/src/SB photos/Rectangle 56.png');
}
.tile:nth-child(3) .img {
  background-image: url('/src/SB photos/Rectangle 57.png');
}
.tile:nth-child(4) .img {
  background-image: url('/src/SB photos/Rectangle 58.png');
}
.tile:nth-child(5) .img {
  background-image: url('/src/SB photos/Rectangle 59.png');
}
.tile:nth-child(6) .img {
  background-image: url('/src/SB photos/Rectangle 61.png');
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  .app-container {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-x: hidden;
  }

  .img-nav {
    display: none;
  }

  .carousel-container {
    display: block;
    width: 100%;
  }

  .tile {
    min-width: 100vw;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    border-radius: 1em;
  }

  .tile:hover, .tile.active {
    width: 80vw;
    height: 300px;
  } 

  .tile p[spine] {
    transform: rotateZ(0);
    font-size: 1.5rem;
    top: 10px;
    left: 10px;
  }

  .content, .heading {
    opacity: 1;
    text-align: left;
  }

  /* Set Images */
.tile:nth-child(1) .img {
  background-image: url('/src/SB photos/Rectangle 55.png');
}
.tile:nth-child(2) .img {
  background-image: url('/src/SB photos/Rectangle 56.png');
}
.tile:nth-child(3) .img {
  background-image: url('/src/SB photos/Rectangle 57.png');
}
.tile:nth-child(4) .img {
  background-image: url('/src/SB photos/Rectangle 58.png');
}
.tile:nth-child(5) .img {
  background-image: url('/src/SB photos/Rectangle 59.png');
}
.tile:nth-child(6) .img {
  background-image: url('/src/SB photos/Rectangle 61.png');
}

}
